
:root {
  --lit-farba-biela: white;
  --lit-farba-zelena: green;
  --lit-farba-fialova: purple;
  --lit-farba-cervena: red;
  --lit-farba-ruzova: pink;
  --lit-farba-zlata: gold;
  --lit-farba-cierna: black;

  --farba-feria: #AAA;
  --farba-feria-p: #CCC;
  --farba-lsp: #DDDDFF;
  --farba-lsp-p: #DDDDFF44;
  --farba-sp: #BBBBFF;
  --farba-sp-p: #BBBBFF44;
  --farba-lsv: #DDFFDD;
  --farba-lsv-p: #DDFFDD44;
  --farba-sv: #BBFFBB;
  --farba-sv-p: #BBFFBB44;
  --farba-sl: #F88;
  --farba-sl-p: #F884;
  --farba-ned: red;
  --farba-ned-p: #F00;  /* red */
  --farba-psv: red;
  --farba-psv-p: #F004;

  --farba-pozadie: white;
  --farba-pismo: black;

  --farba-cierna: black;
  --farba-biela: white;
  --farba-seda: gray;
  --farba-svetlo-seda: #CCC;

  --zoom: 100%;
  --zoom1: calc( var(--zoom) / 100 );
}

html {
  font-size: var(--zoom);
  padding: 0 0.5rem 5rem 0.5rem;
}

body {
  max-width: 50em;
  margin: auto;

  font-family: Helvetica, Arial, sans-serif;
}


h1, h2, h3, h4, h5 {
	margin: 2rem 0 .5rem 0;
}

.lcWD, .lcND {  /* deň v týždni a meniny */
	/* font-size: 70%; */
	color: var(--farba-seda);
}

.lcND {
	font-size: 84%; /* meniny menšie. moje */
}

a {
  color: inherit;
  text-decoration: none;
}


.lcHEAD {
  border-color: var(--farba-seda);
}

/******** lcHEAD ************/

.lcHEAD {
	/* border-left: .3rem solid var(--farba-seda); */ /*bez farieb, moje*/
	/* padding-left: .5rem; */ /*bez farieb, moje*/
	margin: .5rem 0 .5rem 0;
}

.lcHEAD p {
  margin: .303rem;
  margin-bottom: 0;
	padding: 0;
}
.lcHEAD h2 {
	font-size: 1.1rem;
	margin-top: .5rem;
}
.lcHEAD h2 span.lcMOD {
	font-size: 90%;
	font-weight: normal;
}
.lcHEAD h2 i {
  display: block;
	font-size: 90%;
	font-weight: normal;
  padding-top: .2rem;
	padding-left: 2.5rem;
}
.lcFARBA {
  /* width: 1em; */
  /* height: 1em; */
  /* baseline-shift: .1em; */
  padding: .1rem .2rem;
  border-radius: .5em;
  font-size: 75%;
  font-weight: normal;
}

.lcMOD {
	font-style: italic;
	font-weight: normal;
}

.lcHEAD .lcMOD {
  display: inline;
}

/* ******************************************* */
/*                                             */
/*             FAREBNE DELENIE                 */
/*                                             */
/* ******************************************* */

.lcHEAD {
  /* border-left: .5rem solid var(--farba-feria); */ /*bez farieb, moje*/
  /* padding-left: .5rem; */ /*bez farieb, moje*/
}
.lcHEAD h2 {
  background-color: var(--farba-feria-p);
  margin-left: -.5rem;
  padding: .5rem;
  /* background-color-opacity: .3; */
}

/* ///////////////// Liturgicke farby ///////////// */
#lc .lcHEAD span.lcFARBA {
	display: inline-block;
	font-size: 90%;
	font-family: monospace;
	padding: 1px 5px 1px 5px /*!important*/;
	margin: 0 4px 4px 4px;
/*	border: 1px solid black; */
	vertical-align: middle;
	border-radius: 3px;
}

#lc .W { background-color: white; color: black /*!important*/; }
.G { background-color: green; color: white; }
.V { background-color: purple; color: white; }
.R { background-color: red; color: white; }
#lc .P { background-color: #FFC0CB /*pink*/; color: black /*!important*/; }
/*.GOLD { background-color: gold; color: black !important; }*/
.B { background-color: black; color: white; }


/* Tmavý režim *********************/
body.dark {
  --farba-pozadie: #222;
  --farba-pismo: white;

  background-color: var(--farba-pozadie);
  color: var(--farba-pismo);
}
.dark #lcCalendar a.lcDEN {
  color: var(--farba-cierna);
}

/**********************************/

.lcGEN {
  font-size: 90%;
  color: var(--farba-seda);
}

/********************************************************/

#offlineMenu {
  margin-bottom: 1em;
  display: flex;
  position: sticky;
  top: 0;
  gap: .5em;
  font-size: 100%;
  /* justify-content: space-between; */
}
#lcFontSize {
  opacity: .5;
  text-align: center;
  font-size: 100%;
  width: 5em;
}
#offlineMenu button {
  opacity: .5;
  flex-grow: 1;
  height: 2rem;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  /* display: block; */
}
#offlineMenu button:hover {
  cursor: pointer;
}
#offlineMenu button:hover,
#lcFontSize:hover {
  opacity:.8;
}
#lcFontSizeSmaller::first-letter {
  font-size: 80%;
}
#lcFontSizeBigger::first-letter {
  font-size: 120%;
}


/******* Home *********/
body.home {
  display: grid;
  gap: .5em;
}
.home h2,
.home h3 {
  text-align: center;
  margin:.2em;
}
.home a {
  padding: .7em; border: 1px solid black;
  text-align: center;
}
.home a:hover {
  background-color: lightgray;
}

/* pridávam moje: */
hr {
  margin-top: 3rem;
  margin-bottom: 3rem; 
}

td {
  padding: 1rem;
  /* white-space: nowrap; */
}

.lcDMY {
  white-space: nowrap;
}
