#offlineMenu {
  margin-bottom: 1em;
  display: flex;
  position: sticky;
  top: 0;
  gap: .5em;
  font-size: 100%;
  /* justify-content: space-between; */

  /* nasledovné tri pridávam */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#lcFontSize {
  opacity: .5;
  text-align: center;
  font-size: 100%;
  width: 5em;
}

#offlineMenu button {
  opacity: .5;
  /* flex-grow: 1; ruším */
  height: 2rem;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  /* display: block; */
  width: 20rem; /*pridavam*/
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#offlineMenu button:hover {
  cursor: pointer;
}

#offlineMenu button:hover,
#lcFontSize:hover {
  opacity: .8;
}

#lcFontSizeSmaller::first-letter {
  font-size: 80%;
}

#lcFontSizeBigger::first-letter {
  font-size: 120%;
}